html { 
    text-align: center;
    font-size: xx-large;
    background-color: lightgray;
    font-style:oblique;
    }

h3 { 
    text-align: left;
    }

li { 
    text-align: left
    }

h4{
    text-align: left;
}
